<div class="plan">
  <h2>{{ .price }}/month</h2>
  <h4 style="font-size: 15px;">+ 2.5% transaction fee</h4>
  <h3>{{ .priceTagline }}<sup>*</sup></h3>
  <ul>
    <li>Unlimited Consultations</li>
    <li>Accept Payments Up Front From Clients</li>
    <li>Automatic Reminders</li>
    <li>Integration with 1 Google Calendar</li>
    <li>No Hassle and Easy to Manage</li>
  </ul>
  <a data-plan="{{ .planName }}" class="btn btn-get-started" href="https://dashboard.consultationkit.com">Get Set Up for Free</a>
  <p style="font-size:10px; margin-top:15px;"><sup>*</sup>PayPal transaction fees still apply</p>
</div>
