<section class="featured" id="{{ .id }}">
	<div class="container fadeInLeft animated">
		<div class="heading text-center">
			<h1>{{ .title }}</h1>
			<h5>{{ .titleSub }}</h5>
		</div>
		<div class="row">
			<div class="col-sm-4 explainer">
				<div class="icon big">
					<i class="fa {{ .icon1 }}"></i>
				</div>
				<h2> {{ .heading1 }} </h2>
				<p> {{ .body1 }} </p>
			</div>
			<div class="col-sm-4 explainer">
				<div class="icon big">
					<i class="fa {{ .icon2 }}"></i>
				</div>
				<h2> {{ .heading2 }}</h2>
				<p> {{ .body2 }} </p>
			</div>
			<div class="col-sm-4 explainer">
				<div class="icon big">
					<i class="fa {{ .icon3 }}"></i>
				</div>
				<h2>{{ .heading3 }}</h2>
				<p> {{ .body3 }} </p>
			</div>
		</div>
	</div>
</section>
