<section id="{{ .id }}" class="featured gray fadeInRight animated">
	<div class="container">
		<div class="heading text-center">
      <h1>{{ .title }}</h1>
			<h5>{{ .titleSub }}</h5>
		</div>
		<div class="row benefits">
			<div class="col-sm-6 benefit">
				<div class="icon">
					<i class="fa {{ .icon1 }}"></i>
				</div>
        <h4> {{ .heading1 }} </h4>
				<p> {{ .body1 }} </p>
				</p>
			</div>
			<div class="col-sm-6 benefit">
				<div class="icon">
					<i class="fa {{.icon2}}"></i>
				</div>
        <h4> {{ .heading2 }} </h4>
				<p> {{ .body2 }} </p>
			</div>
		</div>
		<div class="row benefits">
			<div class="col-sm-6 benefit">
				<div class="icon">
					<i class="fa {{.icon3}}"></i>
				</div>
        <h4> {{ .heading3 }} </h4>
				<p> {{ .body3 }} </p>
			</div>
			<div class="col-sm-6 benefit">
				<div class="icon">
					<i class="fa {{.icon4}}"></i>
				</div>
        <h4> {{ .heading4 }} </h4>
				<p> {{ .body4 }} </p>
			</div>
		</div>
		<div class="row benefits">
			<div class="col-sm-6 benefit">
				<div class="icon">
					<i class="fa {{.icon5}}"></i>
				</div>
        <h4> {{ .heading5 }} </h4>
				<p> {{ .body5 }} </p>
			</div>
			<div class="col-sm-6 benefit">
				<div class="icon">
					<i class="fa {{.icon6}}"></i>
				</div>
        <h4> {{ .heading6 }} </h4>
				<p> {{ .body6 }} </p>
			</div>
		</div>
	</div>
</section>
