<div class="container hero">
  <div class="row home-contents">
    <div class="col-md-12 col-sm-12">
      <div class="intro-section text-center fadeInRight animated">
        <h1 class="intro">
        {{ if .Site.Params.intro }}
          {{ .Site.Params.intro }}
        {{ else }}
          Your Time is Valuable. Stop Wasting it
        {{ end }}
        </h1>
        {{ if .Site.Params.introTagline }}
        <h5>
          {{ .Site.Params.introTagline }}
        </h5>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="action-btns">
    <a class="btn btn-pricing" href="https://api.consultationkit.com/google/auth">Sign Up With Google</a>
  </div>
  <div class="desktop fadeInLeft animated">
    <img id="try-callout" class="hidden-sm hidden-xs" src="{{ .Site.BaseURL }}/{{ .Site.Params.calloutImg }}">
    <div id="demo"></div>
  </div>
</div>
