<!-- =========================
     FOOTER
============================== -->
<footer>

	<div class="container">


		<!-- <div class="social-icons-list text-center">
			<a href="https://facebook.com/">
				<i class="fa fa-facebook"></i>
			</a>
			<a href="https://twitter.com/">
				<i class="fa fa-twitter"></i>
			</a>
			<a href="https://instagram.com/">
				<i class="fa fa-instagram"></i>
			</a>
		</div>-->

		<!-- COPYRIGHT TEXT -->
		<p class="copyright text-center">
			©2017 {{ .Site.Title }}
			<br>
      Contact: {{ .Site.Author.email }}
		</p>

	</div>
	<!-- /END CONTAINER -->

</footer>
<!-- /END FOOTER -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script type="text/javascript" src="https://cdn.consultationkit.com/widget.min.js"></script>
<script type="text/javascript">
  var widget = new ConsultationKit();
  widget.init({
    targetEl: "#demo",
    calendar: {{ .Site.Params.calendarId }}
  });
</script>
<script type="text/javascript">
	$( document ).ready(function() {
		var selectedPlan = null;

		$('.btn-get-started').on('click', function() {
			selectedPlan = $(this).data().plan;
			$('#plan').val(selectedPlan);

			// send event to google analytics on singup
			ga('send', 'event', 'Buy Plan', selectedPlan);
		})
		/* =================================
		 ===  MAILCHIMP                 ====
		 =================================== */

		$('#mailchimp').ajaxChimp({
					callback: mailchimpCallback,
					url: "https://consultationkit.us15.list-manage.com/subscribe/post?u=f41667291d3e0a2df7e658abb&amp;id=4179db09fe"
				}
		);

		function mailchimpCallback(resp) {
			if (resp.result === 'success') {
				$('.subscription-success').html('<i class="icon_check_alt2"></i> Signup Complete!<br/>' + resp.msg).fadeIn(1000);
				$('.subscription-error').fadeOut(500);

				$('#signup-form-inputs').hide();

				ga('send', 'event', 'Email Signup', selectedPlan);

			} else if(resp.result === 'error') {
				$('.subscription-error').html('<i class="icon_close_alt2"></i><br/>' + resp.msg).fadeIn(1000);
			}
		}

		$("a[href*=\\#]:not([href=\\#])").click(function() {
			if (location.pathname.replace(/^ \//,'') == this.pathname.replace(/^ \//,'')
					&& location.hostname == this.hostname) {
				var $target = $(this.hash);
				$target = $target.length && $target
						|| $('[name=' + this.hash.slice(1) +']');
				if ($target.length) {
					var targetOffset = $target.offset().top;
					$('html,body')
							.animate({scrollTop: targetOffset}, 1000);
					return false;
				}
			}
		});
	});
</script>
