{{ define "main" }}
<div id="home">
    <div class="see-through-blue">
        <div class="container hero">
            <div class="row home-contents">
                <div class="col-md-12 col-sm-12">
                    <div class="intro-section text-center fadeInRight animated">
                        <h1 class="intro">Stop wasting time with "free" calls</h1>
                        <h5>Let your potential clients book a paid online consultation with you right from your website</h5>
                    </div>
                </div>
            </div>
            <div class="action-btns">
                <a class="btn btn-get-started btn-pricing" href="https://api.consultationkit.com/google/auth">Sign Up With Google</a>
            </div>
            <div class="desktop fadeInLeft animated">
                <img id="try-callout" class="hidden-sm hidden-xs" src="/img/try-callout.png">
                <div id="demo"></div>
            </div>
        </div>
    </div>
</div>
<section class="featured" id="how-it-works">
    <div class="container fadeInLeft animated">
        <div class="heading text-center">
            <h1>How It Works</h1>
            <h5>Focus on being the best Consultant, not on whether your client has the right link.</h5>
        </div>
        <div class="row">
            <div class="col-sm-4 explainer">
                <div class="icon big">
                    <i class="fa fa-calendar-check-o"></i>
                </div>
                <h2>Clients select a time</h2>
                <p>Clients see a timezone adjusted schedule with all of your available times. Never again go back and forth over email about what time works you.</p>
            </div>
            <div class="col-sm-4 explainer">
                <div class="icon big">
                    <i class="fa fa-credit-card"></i>
                </div>
                <h2>They pay upfront</h2>
                <p>Clients can easily and securely pay using their favorite credit cards. Payments are sent right to your Paypal. Don't worry, consultations can be free as well!</p>
            </div>
            <div class="col-sm-4 explainer">
                <div class="icon big">
                    <i class="fa fa-bell"></i>
                </div>
                <h2>We make sure they're ready</h2>
                <p>When the time for the consultation approaches we send timely and informative emails with all of the links and information they need to get right into the call.</p>
            </div>
        </div>
    </div>
</section>

<section id="features" class="featured gray fadeInRight animated">
    <div class="container">
        <div class="heading text-center">
            <h1>Powerful Features</h1>
            <h5>Everything you need to streamline your booking process. Set it and forget it</h5>
        </div>
        <div class="row benefits">
            <div class="col-sm-6 benefit">
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <h4>Stay In Sync</h4>
                <p>We sync directly with your Google Calendar so you never miss a meeting
                </p>
            </div>
            <div class="col-sm-6 benefit">
                <div class="icon">
                    <i class="fa fa-database"></i>
                </div>
                <h4>Mobile optimized booking form</h4>
                <p>Clients can quickly and easily book time with you from wherever they are</p>
            </div>
        </div>
        <div class="row benefits">
            <div class="col-sm-6 benefit">
                <div class="icon">
                    <i class="fa fa-line-chart"></i>
                </div>
                <h4>Custom availability and control</h4>
                <p>Setup custom availability, padding between appointments and appointment duration</p>
            </div>
            <div class="col-sm-6 benefit">
                <div class="icon">
                    <i class="fa fa-lightbulb-o"></i>
                </div>
                <h4>Reduce no shows with reminders</h4>
                <p>Automatic reminders and notifications significantly reduce no shows and admin work</p>
            </div>
        </div>
        <div class="row benefits">
            <div class="col-sm-6 benefit">
                <div class="icon">
                    <i class="fa fa-heartbeat"></i>
                </div>
                <h4>Flexible</h4>
                <p>Whether you use Google Hangouts, Skype or traditional phone calls, our platform works for you</p>
            </div>
            <div class="col-sm-6 benefit">
                <div class="icon">
                    <i class="fa fa-forward"></i>
                </div>
                <h4>Handle Timezones with ease</h4>
                <p>Our booking form easily handles timezone differences, so you never have to worry</p>
            </div>
        </div>
    </div>
</section>
<section class="see-through-blue" id="plans">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="plan">
                    <h2>$0/month</h2>
                    <h4 style="font-size: 15px;">+ 2.5% transaction fee</h4>
                    <h3>No transaction fees for 30 days<sup>*</sup></h3>
                    <ul>
                        <li>Unlimited Consultations</li>
                        <li>Accept Payments Up Front From Clients</li>
                        <li>Automatic Reminders</li>
                        <li>Integration with 1 Google Calendar</li>
                        <li>No Hassle and Easy to Manage</li>
                    </ul>
                    <a data-plan="standard" class="btn btn-get-started" href="https://api.consultationkit.com/google/auth">Get Started</a>
                    <p style="font-size:10px; margin-top:15px;"><sup>*</sup>PayPal transaction fees still apply</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
